import jenkins.model.Jenkins
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*

{% for cred in ssh_credentials %}
ssh_credentials_{{cred.credentials_id}} = new BasicSSHUserPrivateKey(
CredentialsScope.GLOBAL,
"{{ cred.credentials_id }}",
"{{ cred.username }}",
new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource(
"{{ cred.ssh_key_escaped }}"),
"",
"{{ cred.name }}"
)
{% endfor %}

{% for cred in password_credentials %}
password_credentials_{{cred.credentials_id}} = new UsernamePasswordCredentialsImpl(
CredentialsScope.GLOBAL,
"{{ cred.credentials_id }}",
"{{ cred.name }}",
"{{ cred.username }}",
"{{ cred.password}}"
)
{% endfor %}

store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

{% for cred in ssh_credentials %}
store.addCredentials(Domain.global(), ssh_credentials_{{cred.credentials_id}})
{% endfor %}

{% for cred in password_credentials %}
store.addCredentials(Domain.global(), password_credentials_{{cred.credentials_id}})
{% endfor %}
